<!DOCTYPE html>
<html>
<head>
  <title>Pixel fire</title>
  <%= stylesheet_link_tag    "pixel_fire/application", media: "all" %>
  <%= javascript_include_tag "pixel_fire/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
